<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
       http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
	   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
	">

    <context:component-scan base-package="cn.e3mall.service"/>

    <dubbo:application name="e3-manager-service"></dubbo:application>
    <dubbo:registry protocol="zookeeper" address="192.168.59.141:2181"></dubbo:registry>
    <dubbo:protocol  name="dubbo" port="20880"></dubbo:protocol>

    <!-- 引用的是interface 实现是spring扫描器扫到的itemServiceImpl-->
    <dubbo:service interface="cn.e3mall.service.ItemService" ref="itemServiceImpl" timeout="60000" > </dubbo:service>
    <dubbo:service interface="cn.e3mall.service.ItemCatService" ref="itemCatServiceImpl" timeout="60000" > </dubbo:service>

</beans>